/* styles.css */

/* General styling for the body */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

/* Container styling for a responsive layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling with gradient background, shadow, and centered text */
header {
  background: linear-gradient(45deg, #f9f9f9, #e0e0e0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Styling for the "Add Task" button */
#add_task {
  background-color:  #2980b9 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  top: 95px;
}

#add_task:hover {
  transform: scale(1.1);
}

/* Styling for labels with background color, border radius, and shadow */
label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for select elements and options */
select {
  position: relative;
  display: inline-block;
  padding: 1px;
  cursor: pointer;
}

select option {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Table styling for headers and cells */
table {
  width: 100%;
}

/* Header cell styling */
th {
  background-color: #2980b9;
  color: white;
  padding: 12px;
  text-align: left;
}

/* Cell styling for different columns */
td {
  padding: 10px;
}

/* "Title" column styling */
td:nth-child(1) {
  font-weight: bold;
}

/* "Description" column styling */
td:nth-child(2) {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* "Due Date" column styling */
td:nth-child(3) {
  white-space: nowrap;
}

/* "Priority" column styling */
td:nth-child(4) {
  text-transform: capitalize;
}

/* "Action" column button styling */
td:nth-child(5) button {
  background-color: #008CBA;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

/* Hover effect for "Action" column buttons */
td:nth-child(5) button:hover {
  background-color: #00537E;
}

/* Input and textarea styling */
input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
}

textarea {
  height: 25px !important;
  margin-bottom: -6px;
  padding: 3px;
}

/* Date input styling */
input[type="date"] {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
}

/* Styling for task details section */
.task-details {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}
